* {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    font-family: 'Comic Neue', cursive;
}

:root {
    --loading-width: 200px;
    --loading-heigth: 23px;
}

body {
    width: 100vw;
    height: 100vh;
    position: absolute;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    text-align: center;
    width: 90vw;
}

.main-maquina {
    display: inline-block;
    margin-bottom: 60px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .6rem;
    font-family: 'Poppins', sans-serif;
    color: #8a2be2;
    border-right: 0.2em solid #8a2be2;
    font-weight: bold;
    animation: blink 1s steps(1) infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.box {
    display: inline-block;
    border: solid black 4px;
    width: var(--loading-width);
    background-color: white;
}

.loading-box {
    height: var(--loading-heigth);
    width: var(--loading-width);
    background-color: #8a2be2;
    /* background-color: aliceblue; */
    /* animation: loading 5s delay iteration-count direction fill-mode; */
    animation: loading 5s;
}

#state-message {
    font-size: larger;
    font-weight: bold;
    color: rgb(109, 109, 109);
}

@keyframes loading {
    0% {
        width: 0;
    }

    100% {
        width: var(--loading-width);
    }
}

#title,
#result {
    font-size: 2.2rem;
    margin-top: 8px;
    margin-bottom: 10px;
}

#title span,
.palbra-main {
    color: #c99806;
}

#result {
    margin-block: 10px;
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #c99806;
}

#me {
    margin-top: 8px;
    margin-bottom: 14px;
}

.box {
    margin-top: 3px;
}

.button {
    display: none;
    border: none;
    cursor: pointer;
    background-color: black;
    color: #fff;
    letter-spacing: 2px;
    /* font-family: 'Poppins', sans-serif; */
    padding: 1rem 2.5rem;
    border-radius: 2rem;
    margin-top: 15px;
    font-weight: 900;
    animation: buttonAni .5s infinite alternate
}

.footer {
    visibility: hidden;
    position: absolute;
    background-color: #f8e8ce;
    width: 100%;
    height: 100vh;
    clip-path: circle(1% at 50% 62%);
    transition: clip-path 2s;
}

.footer-active {
    visibility: initial;
    clip-path: circle(150% at 50% 62%);
}

.footer * {
    background-color: inherit;
}

.footer__container {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Indie Flower', cursive;
    letter-spacing: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.footer__container img,
.footer__container p{
    margin-bottom: 10px;
}


.globos {
    width: 80px;
    position: absolute;
    animation: globo 1.5s infinite alternate;
}

@keyframes globo {
    0% {
        transform: scale(.5) rotate(20deg);
    }
}

.globo1 {
    top: 10px;
    left: 10px;
}

.globo2 {
    top: 10px;
    right: 10px;
}

.globo3 {
    bottom: 10px;
    left: 10px;
}

.globo4 {
    bottom: 10px;
    right: 10px;
}

.footer__pastel{
    width: 100px;
}

.footer__button {
    border: none;
    cursor: pointer;
    background-color: black;
    color: #fff;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    margin-top: 15px;
    font-weight: 900;
    animation: buttonAni .5s infinite alternate
}


/* ************************************** */
/* ===================================================================== */



.card-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    margin-top: 50px;
    position: relative;
    width: 200px;
    height: 200px;
    perspective: 700px;
}

.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 5px;
    overflow: hidden;
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: center;
    transition: transform .5s ease-in-out;
    padding-bottom: 1rem;
    color: #8a2be2;
}

.front {
    background-image: url(../regalo.png);
    background-size: cover;
    background-position: -10px -30px;
    transform: rotateY(0deg);
    z-index: 1;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.front h3 {
    padding: .5rem 2.5rem;
    background-color: hsl(0, 0, 0, .4);
    /* backdrop-filter: blur(4px); */
}

.banck {
    background-color: #8a2be2;
    transform: rotateY(180deg);
    z-index: 2;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.banck h4 {
    width: 100%;
}

.card:hover .front {
    transform: rotateY(180deg);
}

.card:hover .banck {
    transform: rotateY(360deg);
}

/* ************************* */
.regalos {
    padding-top: 200px;
    display: none;
    text-align: center;
}

.regalos .span {
    color: #8a2be2;
    font-size: 1.4rem;
}

.regalos #title {
    font-size: 1.5rem;
}

.resultado {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 10px;
    padding: 1rem 2rem;
    background-color: #8a2be2;
    color: #fff;
    border-radius: 2rem;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    animation: buttonAni .5s infinite alternate;
}


@keyframes buttonAni {
    0% {
        transform: rotate(1deg);
    }

    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-1deg);
    }
}


/* ********************************************************************* */
@media screen and (max-width: 350px) {
    .regalos #title{
        font-size: 1rem;
    }

    .regalos .span{
        font-size: .9rem;
    }

    .resultado{
        font-size: .9rem;
    }
}

@media screen and (min-width: 420px) {

    .regalos{
        padding: 0;
    }
}